{
  "comments": false,
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 1 version"]
      }
    }],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
